<h2> Les clubs</h2>
<p>Vous trouverez ici l'ensemble des clubs participants au master ainsi que leur situation géographique respective.</p>
<style src="./node_modules/ol/ol.css"></style>
<div id="map" class="map"></div>
<style>
  #map {
    width: 100%;
    height: 400px;
  }
</style>
<ul>
  <li *ngFor="let club of clubs" class="card" [ngClass]="{'alert alert-success':club.isSelected}">
    <div class="card-body">
      <h5 class="card-body-title">{{club.nom}}</h5>
      <a *ngFor="let clubSite of club.sites" href="{{clubSite.url}}" class="card-link" target="_blank">{{clubSite.siteName}}</a>
    </div>
  </li>
</ul>
<div id='popup'></div>
