<div class="container">
<div class="row">
  <div class="col">
    <h2>Article I : Conditions de participation</h2>
    <ul>
      <li>Ne peuvent participer aux tournois du Circuit Rhodanien Master Jeunes que les joueurs et joueuses licenciés à la Fédération
        Française de Tennis.
      </li>
      <li>Le circuit se déroulera sur une année tennistique : du 01 septembre au 31 aout de l’année suivante.
      </li>
      <li>Les phases finales pourront se jouer sur la saison suivante.
      </li>
      <li>La liste des données personnelles des joueurs et joueuses sera centralisée par le comité d’organisation du Circuit
        Rhodanien Master Jeunes. >
      </li>
    </ul>
    <h2>Article II : Classement et catégories d’âges</h2>
    <ul>
      <li>Les catégories d’âges sont les suivantes :
        <ul>
          <li>Garçons : 4 catégories: 11/12 ans, 13/14 ans, 15/16 ans, 17/18 ans</li>
          <li>Filles : 2 catégories : 11/14ans et 15/18 ans.</li>
        </ul>
      </li>
      <li>Lors du dernier tournoi du Circuit Rhodanien Master Jeunes, un classement sera établi et communiqué.
      </li>
      <li>Ne peuvent prétendre au classement final que les compétiteurs ayant participé à au moins 5 tournois du Circuit. Un
        forfait au premier tour, quelle qu’en soit la raison, ne peut donner lieu à l’attribution de points de participation.
      </li>
      <li>Les qualifiés pour participer aux phases finales : • les quatre premiers du classement final établi pour chacune des
        4 catégories garçons et des 2 catégories filles.
      </li>
      <li>Tous les clubs du circuit recevront les classements intermédiaires à l’issue de chaque tournoi ainsi que le classement
        final.
      </li>
    </ul>
    <h2>Article III : Barèmes et bonus</h2>
    Pour chaque tournoi, le barème des points est établi de la manière suivante :
    <ol>
      <li>
        Attribution de points par match gagné dans un tournoi (à l’exception des victoires par WO) :
        <ul>
          <li> 1 match 50 pts</li>
          <li> 2 matches 150 pts</li>
          <li>3 matches 300 pts</li>
          <li>4 matches 500 pts</li>
          <li>5 matches 750 pts</li>
          <li> 6 matches 1 050 pts</li>
          <li>7 matches 1 400 pts</li>
          <li>8 matches 1 800 pts</li>
          <li>9 matches 2 250 pts</li>
        </ul>
      </li>
      <li>
        Attribution de 50 points par match gagné dans la ou les poules qualificatives (à l'exception des victoires par WO). Le premier
        match gagné dans le tableau suivant sera alors considéré comme deuxième match (150 points).
      </li>
      <li>
        Attribution de points pour participation au tableau final pour les joueurs (euses) parvenant en : 1/2 finale : 100 points
        Finale : 200 points Victoire : 400 points.
      </li>
    </ol>

    <h2>Article IV : Points de participation</h2>
    Aux points acquis lors des tournois s'ajoutent, pour le classement final, des points de participation effective selon le
    barème suivant :
    <ul>
      <li>1 tournoi : 25 points</li>
      <li> 2 tournois : 50 points</li>
      <li>3 tournois : 400 points</li>
      <li> 4 tournois : 800 points</li>
      <li> 5 tournois : 1200 points</li>
      <li> 6 tournois : 1500 points</li>
      <li> A partir de 7 tournois : 50 points supplémentaires par tournoi.</li>
    </ul>

    <h2>Article V: WO</h2>
    Quel que soit le tour où elle se situe, une victoire par WO ne rapporte que 50 points au joueur vainqueur. Un forfait au
    premier tour entraîne l’annulation des points de participation. Une défaite par WO n’entraine aucune perte de points.
    A partir du 2ème WO le joueur est pénalisé de 100 points puis 50 points à chaque fois.
    <h2>Article VI : Règles fédérales</h2>
    Le déroulement de chaque tournoi, ainsi que celui des « masters » est conforme aux règles fédérales d'établissement des tableaux.

    <h2>Article VII : « Master »</h2>
    <ul>
      <li>en cas d'égalité de points, sera qualifié pour les « Masters » le joueur qui aura participé au plus grand nombre de
        tournois.
      </li>
      <li>en cas de nouvelle égalité, sera qualifié celui qui aura obtenu le plus grand nombre de points de participation. En
        cas de nouvelle égalité, le qualifié sera désigné par le plus grand nombre de matchs gagnés.
      </li>
      <li>le Comité d’Organisation se réserve le droit de limiter le nombre de qualifiés en cas de trop faible participation.
      </li>
      <li>un joueur qualifié dans deux catégories participera aux "Masters" dans une seule catégorie : Seule sa catégorie d’âge
        sera prise en compte.
      </li>
      <li>Les phases finales pourront se jouer sur plusieurs sites.
      </li>
      <li>Les points acquis ne se cumulent pas dans le tableau final master.
      </li>
      <li>Comme pour chaque tournoi, Le déroulement des « Masters », est conforme aux règles fédérales d'établissement des tableaux.
      </li>
    </ul>
  </div>
</div>
</div>
