<H2>Les tournois</H2>
<div>
  Voici la liste des tournois inclus dans le circuit pour la saison 2018/2019:
  <ul>
    <li>Du / au / : TC Vienne</li>
    <li>Du / au / : TC Rambertois</li>
    <li>Du / au / : TC Pont-Eveque</li>
    <li>Du / au / : TC Samauritain</li>
    <li>Du / au / : Aliance Tennis Rhodanien</li>
    <li>Du / au / : TC Roussillon</li>
    <li>Du / au / : TC La Sanne</li>
    <li>Du / au / : TC Péage de Roussillon</li>
    <li>Du / au / : TC Clonas-Chavanay</li>
    <li>Du / au / : TC Annonay</li>
  </ul>
</div>
