<h2>Les tournois</h2>
<div>
  Voici la liste des tournois inclus dans le circuit pour la saison 2018/2019:
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Du 07 Septembre 2018 au 23 Septembre 2018: TC Vienne</li>
    <li class="list-group-item">Du 20 Octobre 2018 au 27 Octobre 2018 : TC Rambertois</li>
    <li class="list-group-item">Du 16 Décembre 2018 au 30 Décembre 2018 : TC Pont-Eveque</li>
    <li class="list-group-item">Du 16 Février 2019 au 24 Février 2019 : TC Samauritain</li>
    <li class="list-group-item">Du 06 Avril 2019 au 17 Avril 2019: Alliance Tennis Rhodanien</li>
    <li class="list-group-item">Du 12 Mai 2019 au 27 Mai 2019 : TC Roussillon</li>
    <li class="list-group-item">Du 29 Mai 2019 au 09 Juin 2019 : TC La Sanne</li>
    <li class="list-group-item">Du 06 Juin 2019 au 17 Juin 2019 : TC Péage de Roussillon</li>
    <li class="list-group-item">Du 19 Juin 2019 au 29 Juin 2019 : TC Clonas-Chavanay</li>
    <li class="list-group-item">Du 26 Juin 2019 au 10 Juillet 2019 : TC Annonay</li>
  </ul>
</div>
