<h2>Le circuit</h2>
<div>
  Le circuit Rhodanien Master Jeunes est un circuit de tennis réparti sur 10 clubs sur l'ensemble d'une saison sportive. Les
  joueuses et joueurs sont répartis par catégorie d'âge :

  <ul>
    <li>Pour les filles :
      <ul>
        <li>11/14 ans</li>
        <li>15/18 ans</li>
      </ul>
    </li>
    <li>Pour les garçons :
      <ul>
        <li>11/12 ans</li>
        <li>13/14 ans</li>
        <li>15/16 ans</li>
        <li>17/18 ans</li>
      </ul>
    </li>
  </ul>
  Pour plus d'informations sur le déroulé du master, vous pouvez consulter le réglement
  <a [routerLink]="['/reglement']">ici</a>.
  <br/>
  <img src="../../assets/affiche.jpg" alt="Affiche du circuit" class="container" />
</div>
